body, h1, h2, ul {
	margin: 0;
	padding: 0;
}

/* Center the container both horizontally and vertically */
.center-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow-y: auto;
}

/* Style the search box */
.search-box {
	text-align: center;
	position: sticky;
}

h1 {
	font-size: 24px;
	margin-bottom: 20px;
}

#search-input {
	padding: 10px;
	width: 60%;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	margin-bottom: 10px;
}

#search-button {
	padding: 10px 20px;
	background-color: #0099ff;
	color: #fff;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
}

/* Add styling for the top bar */
.top-bar {
	background-color: #0099ff; /* Background color for the top bar */
	color: #fff; /* Text color */
	padding: 10px 0; /* Add padding to top and bottom */
	text-align: center;
}

/* Style the user information container within the top bar */
.user-info {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 800px; /* Adjust the maximum width as needed */
	margin: 0 auto; /* Center the top bar horizontally */
}

/* Style the user greeting */
#logged-in-user {
	font-size: 16px;
	font-weight: bold;
	margin-right: 10px;
}

.category-pills {
	display: flex;
	flex-wrap: wrap;
	gap: 8px; /* Adjust the spacing between pills */
	justify-content: center;
	align-items: center;
}

.category-pills span {
	display: inline-block;
	padding: 8px 12px;
	background-color: #0099ff;
	color: #fff;
	border-radius: 20px; /* Rounded corners for pills */
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.category-pills span:hover {
	background-color: #0077cc;
}

.categorySearch-pills {
	display: flex;
	flex-wrap: wrap;
	gap: 8px; /* Adjust the spacing between pills */
	justify-content: center;
	align-items: center;
}

.categorySearch-pills span {
	display: inline-block;
	padding: 8px 12px;
	background-color: #8a00ff;
	color: #fff;
	border-radius: 20px; /* Rounded corners for pills */
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.categorySearch-pills span:hover {
	background-color: #0077cc;
}


#content {
	max-height: 750px; /* Adjust the maximum height as needed */
	overflow-y: auto; /* Enable vertical scrolling if content exceeds the maximum height */
	padding: 10px; /* Add padding to the content area */
}

.table tbody tr {
	margin-bottom: 20px; /* Adjust the spacing between table rows */
}

.box-art-scroller {
	width: 1200px;
	height: 250px;
	white-space: nowrap;
	position: relative;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}

.box-art-scroller div {
	width: 15.5%;
	float: none;
	height: 90%;
	display: inline-block;
	zoom: 1;
}